[run]
branch = 1
cover_pylib = 0
include=*celery/*
omit = celery.tests.*

[report]
omit =
    */python?.?/*
    */site-packages/*
    */pypy/*
    */celery/bin/graph.py
    *celery/bin/logtool.py
    *celery/task/base.py
    *celery/contrib/sphinx.py
    *celery/concurrency/asynpool.py
    *celery/utils/debug.py
    *celery/contrib/testing/*
    *celery/contrib/pytest.py
