[Unit]
Description=Celery Nodes Daemon
After=network.target

[Service]
Type=forking
User=user
Group=users
EnvironmentFile=-/etc/conf.d/celery
ExecStart=/usr/bin/python2 ${CELERYD_CHDIR}/manage.py ${CELERYD_MULTI} start $CELERYD_NODES --pidfile=${CELERYD_PID_FILE} --logfile=${CELERYD_LOG_FILE} --loglevel=${CELERYD_LOG_LEVEL} $CELERYD_OPTS 
ExecStop=/usr/bin/python2 ${CELERYD_CHDIR}/manage.py ${CELERYD_MULTI} stopwait $CELERYD_NODES --pidfile=${CELERYD_PID_FILE}
ExecReload=/usr/bin/python2 ${CELERYD_CHDIR}/manage.py ${CELERYD_MULTI} restart $CELERYD_NODES --pidfile=${CELERYD_PID_FILE} --logfile=${CELERYD_LOG_FILE} --loglevel=${CELERYD_LOG_LEVEL} $CELERYD_OPTS 

[Install]
WantedBy=multi-user.target
