[Unit]
Description=Celery Service
After=network.target

[Service]
Type=simple
PIDFile=/var/run/celery/celery.pid
User=celery
Group=celery
WorkingDirectory=/usr/src/app
ExecStart=/bin/sh -c "${CELERY_BIN} worker --app=${CELERY_APP} ${CELERY_OPTS} --logfile=/var/log/celery/celery.log --pidfile=/var/run/celery/celery.pid"
ExecStop=/bin/kill -s TERM $MAINPID

[Install]
WantedBy=multi-user.target
