* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Verdana", Arial, sans-serif;
  line-height: 1.4em;
  font-size: 14px;
  color: black;
  background-color: #eeeeec;
}


/* Page layout */

div.header, div.content, div.footer {
  width: 70em;
  margin-left: auto;
  margin-right: auto;
}

div.header-wrapper {
  background: url(bgtop.png) top left repeat-x;
  border-bottom: 3px solid #2e3436;
}


/* Default body styles */
a {
  text-decoration: none;
  color: #ce5c00;
}

.clearer {
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

h1, h2, h3, h4 {
  font-family: "Georgia", "Times New Roman", serif;
  font-weight: normal;
  color: #3465a4;
  margin-bottom: .8em;
}

h1 {
  color: #204a87;
}

h2 {
  padding-bottom: .5em;
  border-bottom: 1px solid #3465a4;
}

a.headerlink {
  visibility: hidden;
  color: #dddddd;
  padding-left: .3em;
}

h1:hover > a.headerlink,
h2:hover > a.headerlink,
h3:hover > a.headerlink,
h4:hover > a.headerlink,
h5:hover > a.headerlink,
h6:hover > a.headerlink,
dt:hover > a.headerlink {
  visibility: visible;
}



/* Header */

div.header {
  padding-top: 10px;
  padding-bottom: 10px;
}

div.header h1 {
  font-family: "Georgia", "Times New Roman", serif;
  font-weight: normal;
  font-size: 160%;
  letter-spacing: .08em;
}

div.header h1 a {
  color: white;
}

div.header div.rel {
  margin-top: 1em;
}

div.header div.rel a {
  color: #fcaf3e;
  letter-spacing: .1em;
  text-transform: uppercase;
}


/* Content */
div.content-wrapper {
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

div.document {
  width: 50em;
  float: left;
}

div.body {
  padding-right: 2em;
  text-align: justify;
}

div.document ul {
  margin-left: 1.2em;
  list-style-type: square;
}

div.document dd {
  margin-left: 1.2em;
  margin-top: .4em;
  margin-bottom: 1em;
}

div.document .section {
  margin-top: 1.7em;
}
div.document .section:first-child {
  margin-top: 0px;
}

div.document div.highlight {
  padding: 3px;
  background-color: #eeeeec;
  border-top: 2px solid #dddddd;
  border-bottom: 2px solid #dddddd;
  margin-top: .8em;
  margin-bottom: .8em;
}

div.document h2 {
  margin-top: .7em;
}

div.document p {
  margin-bottom: .5em;
}

div.document li.toctree-l1 {
  margin-bottom: 1em;
}

div.document .descname {
  font-weight: bold;
}

div.document .docutils.literal {
  background-color: #eeeeec;
  padding: 1px;
}

div.document .docutils.xref.literal {
  background-color: transparent;
  padding: 0px;
}


/* Sidebar */

div.sidebar {
  width: 20em;
  float: right;
  font-size: .9em;
}

div.sidebar h3 {
  color: #2e3436;
  text-transform: uppercase;
  font-size: 130%;
  letter-spacing: .1em;
}

div.sidebar ul {
  list-style-type: none;
}

div.sidebar li.toctree-l1 a {
  display: block;
  padding: 1px;
  border: 1px solid #dddddd;
  background-color: #eeeeec;
  margin-bottom: .4em;
  padding-left: 3px;
  color: #2e3436;
}

div.sidebar li.toctree-l2 a {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #dddddd;
}

div.sidebar li.toctree-l2:last-child a {
  border-bottom: none;
}

div.sidebar li.toctree-l1.current a {
  border-right: 5px solid #fcaf3e;
}

div.sidebar li.toctree-l1.current li.toctree-l2 a {
  border-right: none;
}


/* Footer */

div.footer-wrapper {
  background: url(bgfooter.png) top left repeat-x;
  border-top: 4px solid #babdb6;
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 80px;
}

div.footer, div.footer a {
  color: #888a85;
}

div.footer .right {
  text-align: right;
}

div.footer .left {
  text-transform: uppercase;
}


/* Styles copied form basic theme */

/* -- search page ----------------------------------------------------------- */

ul.search {
    margin: 10px 0 0 20px;
    padding: 0;
}

ul.search li {
    padding: 5px 0 5px 20px;
    background-image: url(file.png);
    background-repeat: no-repeat;
    background-position: 0 7px;
}

ul.search li a {
    font-weight: bold;
}

ul.search li div.context {
    color: #888;
    margin: 2px 0 0 30px;
    text-align: left;
}

ul.keywordmatches li.goodmatch a {
    font-weight: bold;
}

/* -- index page ------------------------------------------------------------ */

table.contentstable {
    width: 90%;
}

table.contentstable p.biglink {
    line-height: 150%;
}

a.biglink {
    font-size: 1.3em;
}

span.linkdescr {
    font-style: italic;
    padding-top: 5px;
    font-size: 90%;
}

/* -- general index --------------------------------------------------------- */

table.indextable td {
    text-align: left;
    vertical-align: top;
}

table.indextable dl, table.indextable dd {
    margin-top: 0;
    margin-bottom: 0;
}

table.indextable tr.pcap {
    height: 10px;
}

table.indextable tr.cap {
    margin-top: 10px;
    background-color: #f2f2f2;
}

img.toggler {
    margin-right: 3px;
    margin-top: 3px;
    cursor: pointer;
}

