.xref.issue.closed {
    text-decoration: line-through;
}

.xref.issue.closed:hover {
    text-decoration: line-through underline;
}

.xref.issue.closed:visited {
    text-decoration: line-through;
}
