name: Docker

on:
    pull_request:
      branches: [ 'main']
      paths:
          - '**.py'
          - '**.txt'
          - '**.toml'
          - 'docker/**'
          - '.github/workflows/docker.yml'
          - 't/smoke/workers/docker/**'
    push:
      branches: [ 'main']
      paths:
          - '**.py'
          - '**.txt'
          - '**.toml'
          - 'docker/**'
          - '.github/workflows/docker.yml'
          - 't/smoke/workers/docker/**'
    workflow_dispatch:

jobs:
  docker-build:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
    - uses: actions/checkout@v4
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    - name: Build Docker container
      run: |
        docker buildx build --platform linux/amd64 -t celery:local -f docker/Dockerfile --load .

  smoke-tests_dev:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
    - uses: actions/checkout@v4
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    - name: "Build smoke tests container: dev"
      run: docker buildx build --platform linux/amd64 -f t/smoke/workers/docker/dev --load .

  smoke-tests_latest:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
    - uses: actions/checkout@v4
    - uses: docker/setup-buildx-action@v3
    - name: "Build smoke tests container: latest"
      run: docker buildx build --platform linux/amd64 -f t/smoke/workers/docker/pypi --load .

  smoke-tests_pypi:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
    - uses: actions/checkout@v4
    - uses: docker/setup-buildx-action@v3
    - name: "Build smoke tests container: pypi"
      run: docker buildx build --platform linux/amd64 -f t/smoke/workers/docker/pypi --build-arg CELERY_VERSION="5" --load .

  smoke-tests_legacy:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
    - uses: actions/checkout@v4
    - uses: docker/setup-buildx-action@v3
    - name: "Build smoke tests container: legacy"
      run: docker buildx build --platform linux/amd64 -f t/smoke/workers/docker/pypi --build-arg CELERY_VERSION="4" --load .
