name: Linter

on: [pull_request]

jobs:
  linter:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout branch
        uses: actions/checkout@v3

      - name: Run pre-commit
        uses: pre-commit/action@v3.0.0
